extends ../../layouts/default.pug
include ../../mixins/alert.pug

block content
  +alert-error(5000)
  +alert-success(5000)
  
  h1.text-center.mb-4 Product Details
  .container
      .card.mb-4
        .row.gutters
          .col-md-4
            img(src=product.thumbnail, alt=`${product.title} Thumbnail`, class="card-img img-fluid")
          .col-md-8
            .card-body
              h2.card-title= product.title
              ul.list-group.list-group-flush
                if(product.description) 
                  li.list-group-item
                    strong Description: 
                    | #{product.description}
                if(product.price) 
                  li.list-group-item
                    strong Price: 
                    | $#{product.price}
                if(product.discountPercentage) 
                  li.list-group-item
                    strong Discount Percentage: 
                    | #{product.discountPercentage}%
                if(product.stock)
                  li.list-group-item
                    strong Stock: 
                    | #{product.stock}
                if(product.status)
                  li.list-group-item
                    strong Status: 
                    | #{product.status}
                if(product.position)
                  li.list-group-item
                    strong Position: 
                    | #{product.position}
      .text-center
        a.btn.btn-primary(href=`${prefixAdmin}/products/edit/${product.id}`) Edit
  
  script(src="/admin/js/script.js")