include ../mixins/sub-menu.pug

header.header
    // Top Header
    .header-main
        .container
            .header-wrapper
                // Logo
                a.header-logo(href="/")
                    img.logo-img(src=generalSetting.logo, alt="logo")
                    .logo-text
                        span.brand-name Genius
                        span.brand-subtitle store

                // Search Bar
                form.search-wrapper(action="/search" method="get")
                    .search-input-wrapper
                        input.form-control.search-input(
                            type="text"
                            placeholder="Search products..."
                            name="keyword" 
                            value=keyword
                            autocomplete="off"
                        )
                        button.btn.btn-search(type="submit" title="Search")
                            i.fas.fa-search

                // Right Actions
                .header-actions
                    if user
                        .user-menu.dropdown
                            a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown")
                                if user.avatar
                                    img.avatar-mini(src=user.avatar alt=user.fullName)
                                span.username.text-light= user.fullName
                            
                            .dropdown-menu.dropdown-menu-end
                                include ./user-dropdown.pug
                    else
                        .auth-links
                            a.auth-link(href="/user/register") Register
                            span.divider /
                            a.auth-link(href="/user/login") Login

                    .cart-wrapper
                        a.cart-link(href="/cart" title="Shopping Cart")
                            i.fas.fa-shopping-cart
                            if cart && cart.products && cart.products.length > 0
                                span.cart-badge #{cart.products.length}

    // Bottom Navigation
    .header-nav
        .container
            .nav-wrapper
                .dropdown
                    button.category-btn.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                        i.fas.fa-bars
                        span ALL CATEGORIES
                    .dropdown-menu.category-dropdown
                        if productCategories && productCategories.length > 0
                            +sub-menu(productCategories, productCategories.length)

                nav.main-nav
                    a.nav-link(href="/") ALL PRODUCTS
                    a.nav-link(href="/new-arrivals") NEW PRODUCTS
                    a.nav-link(href="/faq") FAQ
                    a.nav-link(href="/contact") CONTACT
                    a.nav-link(href="/about") ABOUT US

                .contact-info
                    i.fas.fa-phone
                    span 0354647124