extends ../../layouts/default.pug

block content
  h1.mb-4 Permissions

  -//data 
  div(data-records=JSON.stringify(records)) 

  h1 Permission Management
  if(records)
    .row
      .col-9.d-flex.justify-content-end
        button.btn.btn-primary(
          type="button"
          button-permission
        ) Update
        
      
    .table-responsive.mt-3(table-permission)
      table.table.table-hover.table-sm
        thead
          tr
            th Feature
            each item in records 
              th= item.title
        tbody
          tr(data-name="id")
            th(scope="row") Product Category
            each item in records 
              td 
                input(type="text", value=`${item.id}`, class="d-none")  
          tr(data-name="product-category-view")  
            td View
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="product-category-create") 
            td Create New
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="product-category-edit") 
            td Edit
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="product-category-delete") 
            td Delete
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          
          tr
            th(scope="row") Product
          tr(data-name="product-view")  
            td View
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="product-create") 
            td Create New
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="product-edit") 
            td Edit
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="product-delete") 
            td Delete
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")



          tr
            th(scope="row" ) Role
          tr(data-name="role-view")  
            td View
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="role-create") 
            td Create New
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="role-edit") 
            td Edit
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="role-delete") 
            td Delete
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="role-permission") 
            td Permission
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")

                  
   
          tr
            th(scope="row") Account
          tr(data-name="account-view")  
            td View
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="account-create") 
            td Create New
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="account-edit") 
            td Edit
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")
          tr(data-name="account-delete") 
            td Delete
            each item in records
              td
                .form-check
                  input.form-check-input(type="checkbox")   
   
   
   
   
  form(action=`${prefixAdmin}/roles/permissions?_method=PATCH`, method="post" form-permission)
    input(type="text" name="permissions" class="d-none") 

  script(src="/admin/js/roles.js")
  