extends ../../layouts/default.pug
include ../../mixins/alert.pug

block css
  link(rel="stylesheet", href="/css/components/product-detail.css")

block content
  .container.pd-container
    .row.pd-detail-sections(style='display: flex;')
      //- Product Images Section
      .col-md-4.pd-image-section
        .card.pd-images 
          //- Main Image
          .pd-thumbnail-container
            img#main-product-image.pd-thumbnail.img-fluid(
              alt=product.title,
              src=product.thumbnail,  
              aria-label='Main product image'
            )
            button.pd-image-nav.prev(type='button', aria-label='Previous image')
              i.fas.fa-chevron-left
            button.pd-image-nav.next(type='button', aria-label='Next image')
              i.fas.fa-chevron-right
            .loading-spinner(style='display: none;')
              i.fas.fa-spinner.fa-spin

          //- Product Images Gallery
          .pd-image-gallery.mt-3
            .swiper.gallery-thumbs
              .swiper-wrapper
                if product.images && product.images.length
                  each image in product.images
                    .swiper-slide
                      img.pd-gallery-thumb(
                        data-src=image.url,
                        src= "/images/placeholder-image.jpg",
                        alt=image.alt || product.title,
                        aria-label='Thumbnail of product'
                        loading="lazy"
                      )

      //- Product Info Section and Attribute Section
      .col-md-6.pd-info-section
        .card.pd-info
          .card-body
            //- Product title and basic info
            div.pd-title-container
              h1.pd-title= product.title
              //- Brand
              if product.brand
                span.pd-brand 
                  span.meta-label Brand: 
                  strong= product.brand
              //- Category
              if category
                span.pd-category 
                  span.meta-label Category: 
                  a(href=`/products/category/${category.slug}`)= category.title
            //- Rating Section
            .pd-rating-section(style='margin-top: 0.5rem;')
              .pd-rating-stars
                - var rating = product.rating ? product.rating.average : 0
                - for (var i = 1; i <= 5; i++)
                  if i <= rating
                    i.fas.fa-star
                  else if i - rating < 1
                    i.fas.fa-star-half-alt
                  else
                    i.far.fa-star
                span.pd-rating-count #{product.rating ? product.rating.average : '0.0'}
                if product.rating && product.rating.count > 0
                  a.pd-reviews-count(href="#reviews")  (#{product.rating.count})
            hr.pd-divider
            //- Price Section
            .pd-price-section
              span#variant-final-price.pd-final-price #{defaultVariant.price - (defaultVariant.price * defaultVariant.discountPercentage / 100)}$ 
              span#variant-original-price.pd-original-price #{defaultVariant.price}$ 
              span#variant-discount.pd-discount -#{defaultVariant.discountPercentage}%
            //- Variant Selection Section
            if product.attributeTypes && product.attributeTypes.length
              #variant-attributes.pd-variants-section.mt-4
                each attribute in product.attributeTypes
                  //- Create a container for each attribute
                  .pd-attribute.mb-3
                    label.form-label= attribute.name + ":"
                    .pd-attribute-options(data-attribute=attribute.name)
                      each value in attribute.values
                        button.btn.btn-outline-secondary.pd-attribute-option(type='button', data-value=value)
                          | #{value.value}

      //- Action Buttons Section
      .col-md-2.pd-action-buttons-section
        //- Selected Variant Info
        div#selected-variant-info.mt-2(style='display: none;')
        //- Stock Status
        .pd-stock-section.mt-3
          .stock-status-container
            .stock-icon
              i#stock-icon.fas.fa-check-circle
            .stock-info
              span#variant-stock.pd-stock
        //- Quantity Selection
        form#add-to-cart-form(action="/cart/add", method="POST")
          input(type="hidden", name="productId", value=product._id)
          input#selected-variant-id(type="hidden", name="variantId")
          .pd-quantity.mt-4
            label.form-label Quantity:
            .input-group
              button.btn.btn-outline-secondary#decrease-quantity(type="button") -
              input.form-control#quantity-input(
                type="number",
                name="quantity",
                min="1",
                value="1",
                aria-label="Quantity"
              )
              button.btn.btn-outline-secondary#increase-quantity(type="button") +
        //- Action Buttons
        .pd-buttons.mt-4
          button.btn.btn-danger.btn-lg.pd-btn-buy(type="submit", name="buyNow", value="true", aria-label="Buy Now")
            i.fas.fa-bolt.me-2
            | Buy Now
          button.btn.btn-outline-primary.btn-lg.pd-btn-cart(type="button", aria-label="Add to Cart")
            i.fas.fa-shopping-cart.me-2
            | Add to Cart

    //- Product Description Section
    .row.mt-4
      .col-12
        .card.pd-description
          .card-header
            ul.nav.nav-tabs.card-header-tabs#product-detail-tabs
              li.nav-item
                a.nav-link.active#tab-description(data-bs-toggle="tab", href="#description") Product Details
              li.nav-item
                a.nav-link#tab-specification(data-bs-toggle="tab", href="#specification") Specifications
              if product.rating && product.rating.details && product.rating.details.length > 0
                li.nav-item
                  a.nav-link#tab-reviews(data-bs-toggle="tab", href="#reviews") Reviews (#{product.rating.count})
          
          .card-body
            .tab-content
              .tab-pane.fade.show.active#description
                .pd-description-content !{product.description || 'No detailed description available'}
              
              .tab-pane.fade#specification
                if product.specifications
                  table.table.table-striped
                    tbody
                      each spec in product.specifications
                        tr
                          th(scope="row")= spec.name
                          td= spec.value
                else
                  p No detailed specifications available
              
              if product.rating && product.rating.details && product.rating.details.length > 0
                .tab-pane.fade#reviews
                  each review in product.rating.details
                    .pd-review-item
                      .pd-review-header
                        .pd-review-user
                          i.fas.fa-user-circle.me-2
                          span= review.userId.fullName || 'Customer'
                        .pd-review-date= new Date(review.createdAt).toLocaleDateString()
                      .pd-review-rating
                        - for (var i = 1; i <= 5; i++)
                          if i <= review.score
                            i.fas.fa-star
                          else
                            i.far.fa-star
                      .pd-review-comment= review.comment

block scripts
  link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
  script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
  script.
    // Pass product data to JavaScript
    const productData = !{JSON.stringify(product)};
    const defaultVariant = !{JSON.stringify(defaultVariant)};
  script(src="/js/product-detail.js")
