extends ../../layouts/login.pug

block content
  .d-flex.justify-content-center.align-items-center
    .col-11.col-md-8.col-lg-6.col-xl-4
      .card.shadow-lg
        .card-header.text-center.bg-primary.text-white
          h3.mb-0 Admin Login
        .card-body.p-4
          form(
            action=`${prefixAdmin}/auth/login`
            method="post"
          )
            .mb-3
              label.form-label(for="email") Email
              input#email.form-control(
                type="email"
                name="email"
                placeholder="Enter your email"
                required
              )
            .mb-3
              label.form-label(for="password") Password
              input#password.form-control(
                type="password"
                name="password"
                placeholder="Enter your password"
                required
              )
            button.btn.btn-primary.w-100.mt-3(type="submit") Login
        .card-footer.text-center.py-3
          a(href=`${prefixAdmin}/auth/password/forgot`) Forgot Password?