mixin sort(sortOptions)
    .card.mb-3
        .card-header.text-muted Sorting
        .card-body
            div(sort) 
                .row 
                    .col-3  
                        select(
                            name="sort"
                            class="form-control"
                            select-sort
                        )
                            each option in sortOptions
                                option(value=option.value) #{option.text}
                    .col-1  
                        button( 
                            class="btn btn-danger"
                            button-reset
                        ) Reset