extends ../../layouts/default.pug

block content
  .container.mt-5
    .row.mb-4
      .col-12
        .btn-group.d-flex.justify-content-center
          a.btn.btn-outline-primary(href="/users/user-list") User List
          a.btn.btn-outline-primary(href="/users/friend-list") Friend List
          a.btn.btn-outline-primary(href="/users/sent-invitation") Sent Invitations
          a.btn.btn-outline-primary(href="/users/friend-request") Friend Requests

    h2.text-center.mb-5.font-weight-bold.text-primary Global Chat
    .row.justify-content-center
      .col-12.col-md-12.col-lg-10
        .card.shadow-sm
          .card-header.bg-primary.text-white.text-center
            h5.font-weight-bold.mb-0 Chat Room
          .card-body
            .chat-box(style="height: 500px; overflow-y: auto;" chat-box)
              ul.list-group.list-group-flush(list-message)
                if messages.length == 0
                  li.list-group-item.text-center.text-muted No messages yet
                else
                  each message in messages
                    if message.userId == user.id
                      li.list-group-item.text-right.bg-light.rounded
                        .d-flex.justify-content-end
                          .message-content
                            p.mb-0.font-weight-normal= message.content
                            if message.images && message.images.length > 0
                              .message-images.mt-2
                                each image in message.images
                                  img(src=image alt="Image" class="img-thumbnail mr-2" style="max-width: 100px;")
                        small.text-muted.ml-2.mt-1= message.time
                    else
                      li.list-group-item
                        .d-flex.align-items-start
                          if message.userInfo.avatar
                            img.rounded-circle(
                              src=message.userInfo.avatar 
                              alt=message.userInfo.fullName
                              style="width: 40px; height: 40px; margin-right: 10px;"
                            )
                          else
                            img.rounded-circle(src="https://via.placeholder.com/40" alt=message.userInfo.fullName style="width: 40px; height: 40px; margin-right: 10px;")
                          .ml-3
                            .d-flex.flex-column.rounded
                              div.d-flex.justify-content
                                p.font-weight-bold.mb-0= message.userInfo.fullName
                                small.text-muted.ml-2= message.time
                              .message-content.mt-2
                                p.mb-0.font-weight-normal= message.content
                                if message.images && message.images.length > 0
                                  .message-images.mt-2
                                    each image in message.images
                                      img(src=image alt="Image" class="img-thumbnail mr-2" style="max-width: 100px;")
              .position-relative(box-typing user-id= user.id)
              emoji-picker(id="emoji-picker" class="emoji-picker-popup d-none")
              div(class="custom-file-container" data-upload-id="my-unique-id" file-upload-with-preview)
              form(form-chat my-id=user.id)
                .form-group.mt-4
                  label(for="message") Message
                  div.d-flex
                    input.form-control(type="text" name="message" placeholder="Enter your message")
                    span.btn.btn-secondary(emoji-button) 
                      i.fa.fa-smile
                    span.btn.btn-dark(upload-button)
                     i.fa-solid.fa-cloud-upload-alt
                    button(type="submit" class="btn btn-primary float-right")
                      i.fa.fa-paper-plane
block script 
  script(src="/js/chat.js") 
  script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")
  script(src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js")
