extends ../../layouts/default.pug

block content
  .container-fluid.mt-4
    .row.mb-4
      .col-12
        .btn-group.d-flex.justify-content-center
          a.btn.btn-outline-primary(href="/users/user-list") User List
          a.btn.btn-outline-primary(href="/users/friend-list") Friend List
          a.btn.btn-outline-primary(href="/users/sent-invitation") Sent Invitations
          a.btn.btn-outline-primary(href="/users/friend-request") Friend Requests
              span.badge.badge-danger.ml-2(friend-request-length)= user.friendRequest.length

    h2.text-center.mb-4.font-weight-bold.text-primary Global Chat
    .row.justify-content-center
      .col-12.col-lg-10
        .card.shadow
          .card-header.bg-primary.text-white
            h5.font-weight-bold.mb-0.text-center Chat Room
          .card-body.p-0
            .chat-box.p-3(style="height: 500px; overflow-y: auto;" chat-box)
              ul.list-unstyled(list-message)
                if messages.length == 0
                  li.text-center.text-muted.py-3 No messages yet
                else
                  each message in messages
                    if message.userId == user.id
                      li.d-flex.justify-content-end.mb-3
                        .message-bubble.bg-primary.text-white.p-2.rounded
                          p.mb-0= message.content
                          if message.images && message.images.length > 0
                            .message-images.mt-2
                              each image in message.images
                                img.img-fluid.rounded(src=image alt="Image" style="max-width: 150px;")
                          small.text-light.d-block.text-right.mt-1= message.time
                    else
                      li.d-flex.mb-3
                        if message.userInfo.avatar
                          img.rounded-circle.mr-2(src=message.userInfo.avatar alt=message.userInfo.fullName style="width: 40px; height: 40px;")
                        else
                          img.rounded-circle.mr-2(src="https://via.placeholder.com/40" alt=message.userInfo.fullName style="width: 40px; height: 40px;")
                        .message-content
                          .d-flex.align-items-center.mb-1
                            strong.mr-2= message.userInfo.fullName
                            small.text-muted= message.time
                          .message-bubble.bg-light.p-2.rounded
                            p.mb-0= message.content
                            if message.images && message.images.length > 0
                              .message-images.mt-2
                                each image in message.images
                                  img.img-fluid.rounded(src=image alt="Image" style="max-width: 150px;")

            .position-relative.p-3(box-typing user-id=user.id)
            emoji-picker#emoji-picker.emoji-picker-popup.d-none
            .custom-file-container(data-upload-id="my-unique-id" file-upload-with-preview)
            form.mt-3.p-3(form-chat my-id=user.id)
              .input-group
                input.form-control(type="text" name="message" placeholder="Type your message here")
                .input-group-append
                  button.btn.btn-outline-secondary(type="button" emoji-button)
                    i.far.fa-smile
                  button.btn.btn-outline-secondary(type="button" upload-button)
                    i.fas.fa-paperclip
                  button.btn.btn-primary(type="submit")
                    i.fas.fa-paper-plane

block script 
  script(src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js")
  script(src="/js/chat.js") 
  script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")
