extends ../../layouts/normal.pug

block content
  .container-fluid.d-flex.justify-content-center.align-items-center.min-vh-100
    .col-11.col-md-8.col-lg-6.col-xl-5
      .card.shadow
        .card-header.text-center
          h3 Login
        .card-body
          form(action=`/user/login`, method="post")
            .mb-3
                label(for="email") Email
                input.form-control(
                    type="email"
                    name="email"
                    id="email"
                    required
                    placeholder="Enter your email"
                    value=email
                )
            
            .mb-3
                label(for="password") Password
                input.form-control(
                    type="password"
                    name="password"
                    id="password"
                    required
                    placeholder="Enter your password"
                )
            
            .mb-3.form-check
              input.form-check-input(type="checkbox", name="remember", id="remember")
              label.form-check-label(for="remember") Remember me
           
            button.btn.btn-primary.w-100(type="submit") Login
        .card-footer.text-center
          p.mb-0
            a(href="/user/password/forgot") Forgot password?
          p.mb-0
            | Don't have an account? 
            a(href="/user/register") Register now