extends ../../layouts/default.pug
include ../../mixins/alert.pug

block content
    +alert-error(5000)
    +alert-success(5000)
    h1 Change Password
    form(action=`${prefixAdmin}/my-account/change-password?_method=PATCH` method="post")
        .form-group
            label(for="currentPassword") Current Password
            input.form-control(
                type="password"
                name="currentPassword"
                id="currentPassword"
                required
            )
        .form-group
            label(for="newPassword") New Password
            input.form-control(
                type="password"
                name="newPassword"
                id="newPassword"
                required
            )
        .form-group
            label(for="confirmPassword") Confirm New Password
            input.form-control(
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                required
            )
        button.btn.btn-primary(type="submit") Change Password