extends ../../layouts/default.pug
include ../../mixins/alert.pug

block content
  .container-fluid.py-5.bg-light
    .container
      .row.mb-4
        .col-12
          nav.nav.nav-pills.nav-justified.mb-3
            a.nav-item.nav-link(href="/users/user-list") User List
            a.nav-item.nav-link(href="/users/friend-list") Friend List
            a.nav-item.nav-link(href="/users/sent-invitation") Sent Invitations
            a.nav-item.nav-link.active.position-relative(href="/users/friend-request")
              | Friend Requests
              span.badge.badge-danger.badge-pill.position-absolute.top-0.start-100.translate-middle(friend-request-length)= user.friendRequest.length

      .row(my-id=user.id box-friend-request)
        each user in users
          .col-12.col-md-6.col-lg-4.col-xl-3.mb-4(box-user data-user-id=user.id)
            .card.shadow-sm.h-100
              .card-body
                .d-flex.align-items-center.mb-3
                  .position-relative.mr-3
                    img.rounded-circle(src=user.avatar alt=user.fullName style="width: 60px; height: 60px; object-fit: cover;")
                    .status-indicator(class=user.status_online === "online" ? "bg-success" : "bg-secondary")
                  .flex-grow-1
                    h5.mb-0.font-weight-bold= user.fullName
                   
                hr.my-3
                .d-flex.justify-content-between.align-items-center
                  button.btn.btn-sm.btn-outline-success(accept-button data-user-id=user.id)
                    i.fas.fa-check.mr-1
                    | Accept
                  button.btn.btn-sm.btn-outline-danger(decline-button data-user-id=user.id)
                    i.fas.fa-times.mr-1
                    | Delete
                  span.text-success.font-weight-bold.d-none(accepted-button data-user-id=user.id)
                    i.fas.fa-user-check.mr-1
                    | Accepted

block script 
  script(src="/js/users.js")

